
<table id="test_summary" 
       width="100%" 
       class="meteor_borderbox"> 
  <tr>
    <td>
      <table width="100%" 
	     class="meteor_borderbox"> 
  <tr id="test_summary_titlebar"> 
    <td class="meteor_panebox"> 
      <table> 
	<tr> 
	  <td class="meteor_enclosure_box" 
	      width="100%"> 
    	    <table width="100%" 
		   style="margin:0; padding:0;"> 
	      <tr> 
		<td align="left" 
		    valign="center"> 
		  <div id="test_summary_hide">
		    <img src="/images/meteor/collapse.jpg" 
			 onclick="Element.hide('visualizationx');Element.show('test_summary_show');Element.hide('test_summary_hide');" 
			 style="margin:0;padding:0;">
		  </div> 
		  <div id="test_summary_show" 
		       style="display:none;">
		    <img style="margin:0;padding:0;" 
			 src="/images/meteor/expand.jpg"  
			 onclick="Element.show('visualizationx');Element.hide('test_summary_show');Element.show('test_summary_hide');">
		  </div> 
		</td> 
		<td align="left"> 
                  Test Summary
		</td>
	      </tr> 
	    </table> 
	  </td> 
	</tr> 
      </table> 
    </td> 
  </tr> 
  <tr>
    <td>
      <table id="test_summary_contents" width="100%">
	<!-- about to call block from _hideable_panebox -->
<div id="visualizationx" style="width: 1000px; height: 300px;" style="border-width: 1;"></div>
      </table>
    </td>
  </tr>

      </table>
    </td>
  </tr>
</table>


<% results = Mlr.all(:order => "year asc, month asc", :conditions => "week = 0 and year != 0") -%>

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['imagechart']});
    </script>
    <script type="text/javascript">
      function drawVisualization() {
        // Create and populate the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Month');
        data.addColumn('number', 'Active Accounts');

        data.addRows(<%= results.length %>);
<% 
rownum=0
results.each do |r|
%>
        data.setCell(<%= rownum %>, 0, '<%= "#{r.month}-#{r.year}" %>');
        data.setCell(<%= rownum %>, 1, <%= r.active_accounts ? r.active_accounts.to_i : 0%>);
<%
rownum += 1
 end -%>
      
        var options = {};
      
        // 'bhg' is a horizontal grouped bar chart in the Google Chart API.
        // The grouping is irrelevant here since there is only one numeric column.
        options.cht = 'bhg';
      
        // Add a data range.
        var min = 0;
        var max = <%= results.collect{|x| x.active_accounts}.max %>;
        options.chds = min + ',' + max;
      
        // Now add data point labels at the end of each bar.
      
      
        // Draw labels in pink.
        var color = 'ff3399';
      
        // Google Chart API needs to know which column to draw the labels on.
        // Here we have one labels column and one data column.
        // The Chart API doesn't see the label column.  From its point of view,
        // the data column is column 0.
        var index = 0;
      
        // -1 tells Google Chart API to draw a label on all bars.
        var allbars = -1;
      
        // 10 pixels font size for the labels.
        var fontSize = 10;
       
        // Priority is not so important here, but Google Chart API requires it.
        var priority = 0;
      
        options.chm = [ color, index, allbars, fontSize, priority].join(',');
      
        // Create and draw the visualization.
        new google.visualization.ImageChart(document.getElementById('visualizationx')).
          draw(data, options);  
      }
      

      google.setOnLoadCallback(drawVisualization);
    </script>


<%= javascript_tag "new Draggable('test_summary')" %>
