
<%= form_tag %>
<%= select_tag(:fields,options_from_collection_for_select(Mlr.sorted_columns, "name", "name"), {:multiple => true}) %>
<%= submit_tag %>

<% if params["fields"] %>

<%= Meteor::Widget::Borderbox::Spec.new(:dom_id => "active_accounts",
                                        :title => "Bar Demo",
                                        :hideable => [:bar_demo]).render {
 '<div id="bar_demo" style="width: 800px; height: 1000px;" style="border-width: 1;"></div>'
} %>

<% 

  all = Mlr.all(:order => "year asc, month asc", :conditions => "week = 0 and year != 0")
  cols = []
  cols.push({:type => :string, :field => :month})
  params["fields"].each do |field|
    cols.push({:type => :number, :field => field.to_sym})
  end

  bar = Meteor::Widget::BarGraph::Spec.new(:columns => cols,
                                           :data => all,
                                           :page_div => "bar_demo")

  def bar.max(data)
    data.collect{|x| x.active_accounts}.max
  end
%> 
<%= bar.render %>

<%= javascript_tag "new Draggable('active_accounts')" %>

<% end %>
