
<%= form_tag %>
<%= select_tag(:fields,options_from_collection_for_select(Mlr.sorted_columns, "name", "name"), {:multiple => true}) %>
<%= submit_tag %>

<% if params["fields"] %>

<%= Meteor::Widget::Borderbox::Spec.new(:dom_id => "active_accounts",
                                        :title => "Bar Demo",
                                        :hideable => [:bar_demo]).render {
 '<div id="bar_demo" style="width: 800px; height: 1000px;" style="border-width: 1;"></div>'
} %>

<%

%>

<%= @bar.render if @bar %>

<% end %>
