
A good one is avg_profit, avg_revenue, and active deals....

<table>
<tr>
<td valign="top">
<%= form_tag %>
<%= select_tag(:fields,options_from_collection_for_select(Mlr.sorted_columns, "name", "name"), {:multiple => true, 
                                                                                                :size => [Mlr.columns.length,20].min}) %>
<%= submit_tag %>
</td>
<td valign="top" style="padding-left: 60px;">

<% if params["fields"] %>

<%= Meteor::Widget::Borderbox::Spec.new(:dom_id => "bar_demo_frame",
                                        :title => "Bar Demo",
                                        :hideable => [:bar_demo]).render {
 '<div id="bar_demo" style="width: 800px; height: 1000px;" style="border-width: 1;"></div>'
} %>

<%

%>

<%= @bar.render if @bar %>

<% end %>
</td>
</tr>
</table>
